/*
PARA A HONRA E GLÓRIA DE DEUS
ARQUIVO .CSS PARA O BLOG PAPO RETO
*/





/*------------------------------------------------------------------
CORES
------------------------------------------------------------------*/
.cor-base{
	color: #fff !important;
}

.cor-destaque{
	color: #FFF !important;
}

.cor-texto{
	color: #fff !important;
}





/*------------------------------------------------------------------
HTML GERAL
------------------------------------------------------------------*/
html , body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px; 
}

body {
	overflow-x: hidden !important;
}

body {
	background-color: #fafafa !important;
	margin: 0;
	padding: 0;
	display: block;
	min-height: 100%;
	transition: 0.3s ease;
}

.title {
	position: relative;
	top: 25%;
	left: 50%;
	transform: translate(-50%,-35%);
	min-width: 700px;
	padding: 0;
	padding-top: 65px;
	margin: 0 !important;
	color: #fff !important;
	font-family:'Roboto Slab', serif;
	font-weight: 900;
	font-size: 4.25vw;
	text-shadow: 0px 2px 10px #222;
	text-align: center !important;
}

.descript {
	text-shadow: 0px 1px 2px #000;
	max-width: 700px;
	left: 50%;
	transform: translate(-50%, 0%);
	padding: 0px 25px;
	margin-top: 80px;
	position: relative;
	color:#fff !important;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: center;
}

h1 {
	margin: 0 !important;
}
p {
	color: #222 !important;
	font-family:'Roboto', sans-serif;
	font-weight: 300;
}

.card-link {
	text-decoration: none;
}

html {
	height:100%;
}





/*------------------------------------------------------------------
BOTÕES
------------------------------------------------------------------*/
.bt-index {
	position: absolute;
	width: 300px;
	height: 75px !important;
	line-height: 75px;
	left: 50%;
	top: 70%;
	transform: translate(-50%, 60%);

}

.bt-index {
	vertical-align: middle;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	text-decoration: none;
	font-size: 1.75rem;
	font-weight: 900;
	border-style: solid;
	color: #fff;
	text-shadow: 0px 2px 4px #222;
	border-color: #fff;
	border-width: 2px;
	border-radius: 2px;
	transition: all 0.3s ease;
}

.bt-index:hover {
	top:68.25%;
	box-shadow: 0px 8px 12px #222;
	letter-spacing: 1px;
	background-color: #00ff8a;
	text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.bt-index:before {
	top:70%;
	transition: all 0.3s ease;
	overflow: hidden;
}

.bt {
	position: relative;
	min-width: 150px;
	height: 80px;
	outline: 0;
	margin: 0;
	padding-left: 2.5px;
	float: left;
	border: none;
}

.bt {
	overflow: hidden;
	line-height: 80px;
	font-family: 'Roboto Slab', serif;
	font-size: 1.15em;
	font-weight: 800;
	text-decoration: none;
	text-align: center;
	letter-spacing: 1.85px;
	transition: 0.35s ease;
}

.bt:hover {
	background-color: #00daaa;
	letter-spacing: 4px;
	overflow: hidden;
}

.bt:after {
	content: '';
	background: #FFF;
	position: absolute;
	width: 0;
	height:10px;
	bottom: 0%;
	left: 0%;
	transition: 0.2s ease;
}

.bt:hover:after {
	width: 100%;
	overflow: hidden;
}

.material-icons {
	font-size: 40px !important;
	position: relative;
	color: #fff;
	font-family: 'Material Icons';
  	font-weight: normal;
  	font-style: normal;
  	text-transform: none;
  	word-wrap: normal;
  	white-space: nowrap;
  	direction: ltr;
}





/*------------------------------------------------------------------
CONTAINERS
------------------------------------------------------------------*/
.container {
	margin: 0 auto;
	height: auto !important;
	max-width: 1280px;
	width: 95%;
}

.container-card {
	margin: 0 auto;
	max-width: 1280px;
	width: 90%;
}

.container-card h3 {
	color:#222 !important;
}

.container-card p {
	color:#777 !important;
}

.l3 {
	margin: 10px;
	width: 30% !important;
	float: left;
}

.inline {
	margin: 16px 0px;
	width: 100% !important;
	float: left;
}

.inline .card-img {
	font-size: 6.5vw !important;
}
.card {
	background-color: #fff;
	overflow: hidden;
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
	transition: 0.2s ease;
	padding-bottom: 1px;
}
.card:hover {
	box-shadow: 0px 6px 8px rgba(0,0,0,0.15);
	transform: scale(1.05);
}

.card-img {
	border-radius: 4px 4px 0px 0px;
	width: 100%;
	padding: 25% 0%;
	line-height: 60px;
	background-position: center;
	background-size: cover;
	font-family: 'Roboto Slab', serif;
	font-weight: 900;
	font-size: 2.5vw;
	text-align: center;
	color: #fff;
}

.card .data {
	position: absolute;
	padding-left: 10px;
	width: 90px;
	height: 40px;
	background-color: #00ff8a;
	color: #222;
	font-size: 20px;
	font-weight: 900;
	line-height: 40px;
	letter-spacing: 1.2px;
	font-family: 'Roboto Slab', serif;
	border-radius: 4px 0px 4px 0px;
}

.direita {
	right:0.5rem;
	left: auto;
	float: right !important;
}

.text-box {
	overflow: hidden;
	min-height: 400px;
	text-align: justify;
	left:15%;
	padding: 25px 50px !important;
}

.tp-menu {
	position: absolute;
	top:65px;
	height: 50px;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #00b8c6;
}

.tp-menu ul {
	margin: 0;
	list-style: none;
}

.tp-menu ul li {
	display: inline-block;
	width: 30%;
	height: 50px;
	padding: 0;
	margin: 0;
	line-height: 50px;
	background-color: #00b8c6;
	text-align: center;
	vertical-align: middle;
}

.tp-menu ul li a {
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
	color: #fff;
	font-weight: 900;
	font-size: 15px;
	letter-spacing: 1.5px;
	transition: 0.3s all ease;
}

.tp-menu ul li a:hover {
	font-size: 17px;
	letter-spacing: 2.3px;
}

.line-block {
	margin-left: 50%;
	margin-bottom: 20px;
	margin-top: 50px;
	transform: translate(-50%,0%);
	padding: 0;
	border-radius: 4px;
	width: 90%;
	line-height: 60px;
	background-position: center;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 1.5em;
	text-align: left;
	padding-left: 20px;
	color: #fff;
}

.line-list {
	margin-left: 30px;
}

.line-list ul {
	list-style: none;
}

.line-list ul li {
	margin-bottom: 10px;
	padding: 0;
}

.line-list ul li a{
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	font-weight: 300;
	color: #222;
	transition: 0.2s ease;
}

.line-list ul li a:hover {
	letter-spacing: 1.2px;
	font-weight: 400;
}

.autoria {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 0.85em;

}





/*------------------------------------------------------------------
MEDIA QUERIES
------------------------------------------------------------------*/
@media only screen and (min-width: 600px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 990px) {
  .container {
    width: 70%;
  }
}

@media only screen and (max-width: 735px){
	.esconder-tp {
		display: none !important;
	}
}

@media only screen and (min-width: 736px){
	.mostrar-tp {
		display:none !important;
	}
}

@media only screen and (max-width: 940px){
	.esconder-med {
		display: none !important;
	}
}

@media only screen and (min-width: 941px){
	.mostrar-med {
		display:none !important;
	}
}

@media only screen and (max-width: 735px){
	nav {
		height: 65px !important;
	}
}

@media only screen and (min-width: 736px){
	nav {
		height: 80px !important;
	}
}

@media only screen and (max-width: 605px){
	.footer {
		left: 0% !important;
		width: 100%	!important;
	}
}

@media only screen and (max-width: 525px){
	.footer ul li{
		font-size: 0.75rem;
	}
}

@media only screen and (max-width: 525px){
	.footer ul {
		width: 330px;
		left:calc(50% + 33px) !important;
	}
}

@media only screen and (max-width: 495px){
	.footer .develop {
		bottom: 15% !important;
	}
}

@media only screen and (max-width: 1920px){
	.title {
		font-size: 3.8vw !important;
	}
}

@media only screen and (max-width: 1000px){
	.title {
		font-size: 4.1vw !important;
	}
}

@media only screen and (max-width: 900px){
	.title {
		font-size: 4.5vw !important;
	}
}

@media only screen and (max-width: 800px){
	.title {
		font-size: 4.9vw !important;
	}
}

@media only screen and (max-width: 600px){
	.title {
		font-size: 5.5vw !important;
	}
}

@media only screen and (max-width: 685px){
	.parallax-div {
		background-attachment: scroll;
		height: 450px !important;
	}
}

@media only screen and (max-width: 1920px){
	.descript {
		font-size: 2vw !important;
	}
}

@media only screen and (max-width: 1100px){
	.descript {
		font-size: 2.3vw !important;
	}
}

@media only screen and (max-width: 1000px){
	.descript {
		font-size: 2.6vw !important;
	}
}

@media only screen and (max-width: 900px){
	.descript {
		font-size: 2.8vw !important;
	}
}

@media only screen and (max-width: 800px){
	.descript {
		font-size: 3vw !important;
	}
}

@media only screen and (max-width: 600px){
	.descript {
		font-size: 4.2vw !important;
	}
}

@media only screen and (max-width: 1920px){
	.texto-flex {
		font-size: 1.6vw !important;
	}
}

@media only screen and (max-width: 1100px){
	.texto-flex {
		font-size: 1.9vw !important;
	}
}

@media only screen and (max-width: 1000px){
	.texto-flex {
		font-size: 2.1vw !important;
	}
}

@media only screen and (max-width: 900px){
	.texto-flex {
		font-size: 2.3vw !important;
	}
}

@media only screen and (max-width: 800px){
	.texto-flex {
		font-size: 2.5vw !important;
	}
}

@media only screen and (max-width: 600px){
	.texto-flex {
		font-size: 2.9vw !important;
	}
}

@media only screen and (max-width: 1920px){
	.text-box {
		width:65%;
	}
}

@media only screen and (max-width: 1000px){
	.text-box {
		width:60%;
	}
}




/*------------------------------------------------------------------
NAVBAR
------------------------------------------------------------------*/
nav {
	position: relative;
	top: 0;
	background-color: #00b8c6;
	width: 100%;
}

nav .logo {
	white-space: nowrap;
	padding: 0;
	font-size: 2.1rem;
	display: inline-block;
	height: 90px;
	margin-top: -5px;
	padding-left: 50px;
}

nav .logo.tp {
	position: relative;
	height: 80px;
	padding: 0;
	left:50%;
	transform: translate(-50%, -5%);
}





/*------------------------------------------------------------------
FOOTER
------------------------------------------------------------------*/
.footer {
	padding:0;
	position: relative;
	bottom: 0 !important;
	height: 150px;
	width: 75%;
	left: 12.5%;
	bottom: 0;
	display: block;
}

.footer {
	background-color: #00b8c6;
	color: #fff;
}

.footer {
	font-family: 'Roboto Slab', serif;
	font-size: 1rem;
}

.footer a {
	text-decoration: none;
	color: #fff !important;
}

.footer ul {
	padding: 0; 
	width: 315px;
	position: absolute;
	display: inline-block;
	list-style-type: none;
	vertical-align: middle;
	left: 50%;
	transform: translate(-50%, 0);
	top: -10%;
}

.footer ul li {
	float: left;
	padding: 10px;
	text-decoration: none;
}

.footer .develop {
	min-width: 185px;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%,0);
	font-size: 0.75rem;
}





/*------------------------------------------------------------------
PARALLAX DIV
------------------------------------------------------------------*/

.parallax-div {
	width: 100%;
	height: 558px;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}